body {
  background-color: #bfbfbf;
}

h1 {
  display: block;
  margin: 0px;
  text-align: center;
  color: #153679;
}

h2 {
  display: block;
  margin: 0px 0px 15px 0px;
  text-align: center;
  color: #153679;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AddMovie {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}
.SearchBar {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}

button {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.MovieList {
  background-color: lightslategray;
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.Movie {
  position: flex;
  padding: 20px;
  margin: 0px 0px 10px 0px;
  background-color: #eaebed;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px darkslategray;
}