body {
  background-color: #bfbfbf;
}

h1 {
  display: block;
  margin: 0px;
  text-align: center;
  color: #153679;
}

h2 {
  display: block;
  margin: 0px 0px 15px 0px;
  text-align: center;
  color: #153679;
}

.movie-title {
  display: inline-block;
  text-align: center;
  width: 160px;
  padding: 20px;
  background-color: #eaebed;
  border-radius: 5px;
}

.info-panel {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AddMovie {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}
.SearchBar {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px;
}

.EachMovie {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.WatchFilterButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.WatchFilterButtons {
  color: gray;
  width: 80px;
  height: 60px;
}

.WatchButton {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0px 40px 0px 0px;
  width: 80px;
  height: 25px;
}

.Watched {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 80px;
  height: 25px;
}

button {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-self: left;
  white-space: pre-wrap;
}
.MovieList {
  background-color: lightslategray;
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.Movie {
  display: flex;
  flex-direction: column;
  margin: 0% 0% 7% 0%;
  background-color: #eaebed;
  text-align: center;
  justify-items: center;
  border-radius: 5px;
  box-shadow: 4px 4px darkslategray;
}